.roompage {
  background: -webkit-linear-gradient(top, #f0f0f0 18.25%, white 18.25%);
  height: 100vh;

  &_wrapper {
    width: $largeWidth;
    margin: $marginCenter;
  }

  &_info {
    display: flex;
    height: 100vh;
    margin: 0 60.3px 0 90.5px;
    padding: 5vh 0;

    &_left {
      width: 80%;

      h2 {
        display: inline-block;
        font-family: $mainFont;
        font-size: 34px;
        padding: 0px 0px 5px 7.5px;
        color: $darkBlack;
      }

      &_largeimage {
        position: relative;
        width: 100%;
        height: 72vh;
        @include bgcImgCenter;
        border-bottom: 2.3px solid white;
        cursor: pointer;
      }

      &_caroucelBtn {
        position: absolute;
        bottom: 23px;
        right: 16px;
        width: 50px;
        height: 50px;
        display: block;
        background-color: #fff;
        border-radius: 50%;
        color: $lightBlack;
        text-align: center;
        cursor: pointer;

        &:active {
          transform: scale(0.8);
        }

        svg {
          height: 50px;
        }
      }

      &_smallimages {
        display: flex;

        &_image {
          width: 100%;
          height: calc(100vh - 72vh - 10vh - 39px);
          @include bgcImgCenter;
          cursor: pointer;

          &:not(:last-child) {
            border-right: 2.3px solid white;
          }
        }
      }
    }

    &_right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      margin-left: 29.1px;

      &_top {
        display: flex;
        justify-content: space-between;
        color: $middleBlack;
        font-size: 14px;
        height: calc(17.25vh - 5vh - 14px);
        align-items: flex-end;

        a {
          color: $darkBlack;
        }

        h4:hover {
          border-bottom: 1px solid $darkBlack;
          cursor: pointer;
        }
      }

      &_middle {
        margin-top: 50px;
        color: $contentBlack;
        height: 55vh;
        overflow-y: auto;

        &_top {
          display: flex;
          justify-content: space-between;
          margin-bottom: 19px;

          h3 {
            font-size: 30px;
            font-weight: bold;
          }
        }

        &_price {
          margin-top: 20px;
          line-height: 20px;

          span {
            font-weight: bolder;
          }
        }

        &_down {
          display: flex;

          &_half {
            width: 100%;

            &:first-child {
              margin-right: 35px;
            }

            input {
              width: 100%;
              height: 52px;
              margin-bottom: 8px;
              padding: 17px;
              border: 1px solid $lightBlack;

              &::placeholder {
                color: $lightBlack;
                font-size: 15px;
              }
            }
          }
        }

        &_descri {
          font-family: "Helvetica Neue";
          font-size: 15px;
          line-height: 22px;
          color: $middleBlack;
          margin-bottom: 14px;
        }

        &_detail {
          line-height: 20px;
        }

        &_formDate {
          display: flex;
          justify-content: space-between;

          // &_formDateLeftBox, &_formDateRightBox, &_formDateLeftBoxNone, &_formDateRightBoxNone {
          // position: relative;
          // .DayPicker {
          //   position: absolute;
          //   top: calc(100% + 10px);
          //   background-color: white;
          //   //border: 1px solid $lightBlack;
          //   box-shadow: 1px 2px 3px rgba(0, 0, 0, .16);
          // }

          // &:not(:last-child) {
          //   margin-right: 10px;
          // }
          // }

          &_formDateLeftBox {
            margin-right: 10px !important;
            // .DayPicker {
            //   display: block;
            //   left: 0;
            // }
          }

          // &_formDateLeftBoxNone {
          //   .DayPicker {
          //     display: none;
          //     left: 0;
          //   }
          // }

          // &_formDateRightBox {
          //   .DayPicker {
          //     display: block;
          //     right: 0;
          //   }
          // }

          // &_formDateRightBoxNone {
          //   .DayPicker {
          //     display: none;
          //     right: 0;
          //   }
          // }
        }

        &_formButton {
          display: flex;
          justify-content: space-between;

          div {
            margin-left: 5px;
            width: 100%;

            button {
              @include send-btn(100%);
            }
          }
        }
      }

      &_down {
        border-top: 1px solid $lightBlack;
        display: flex;
        flex-wrap: wrap;
        padding-top: 16.5px;

        &_item {
          display: flex;
          align-items: center;
          width: calc(100% / 3);
          color: $lightBlack;

          span {
            color: $contentBlack;
            font-size: 15px;
          }
        }
      }
    }
  }

  .dialog {
    .roompagedialog {
      text-align: center;
      padding: 31px 51px;

      &_wrapper {
        height: 230px;
        overflow: auto;
      }

      h3 {
        font-size: 40px;
        color: $contentBlack;
        padding-bottom: 8px;
        border-bottom: 1px solid $lightBlack;
      }

      &_content {
        padding: 20px 0;
        margin: 0 50px;
        border-bottom: 3px solid $lightBlack;

        &_descri {
          &:first-child {
            margin-bottom: 10px;
          }

          span {
            &:first-child {
              display: inline-block;
              padding: 9px 16px;
              color: $lightBlack;
              border: 1px solid $lightBlack;
              margin-right: 10px;
            }
          }
        }
      }

      &_total {
        text-align: right;
        margin: 16px 80px 0;
      }

      button {
        position: absolute;
        bottom: 31px;
        left: calc(50% - 100px);
        @include send-btn(200px);
      }
    }

    .roompageimagedialog {
      height: 50vh;

      img {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 100%;
      }
    }
  }
}
