@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap");

//layout
$largeWidth: 1280px;
$lightWhite: #f0f0f0;
$homeLargeRange: 62.5%;

//Font
$mainFont: "Amatic SC", cursive !important;
$secondFont: "Noto Sans TC", sans-serif;
$darkBlack: #4b4b4b;
$middleBlack: #707070;
$lightBlack: #b4b2b2;
$contentBlack: #676767;

//margin
$marginCenter: 0 auto;

@mixin font-ellipsis($width) {
    min-width: $width;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin layoutToptoDowmGradient($firstcolor, $secondcolor, $percent) {
    background: -webkit-linear-gradient(top, $firstcolor $percent, $secondcolor $percent);
}

@mixin bgcImgCenter {
    background-position: center;
    background-size: cover;
}
